{
  "presets":[
    "react",
    [
      "env",
      {
        "targets":{
          "chrome":52,
          "node":true
        }
      }
    ]
  ],
  "plugins":[
    "transform-class-properties",
    ["transform-object-rest-spread", {
        "useBuiltIns":true
      }
    ]
  ]
}
