{
  "presets":[
    "react",
    [
      "env",
      {
        "targets":{
          "chrome":52,
          "node":true
        }
      }
    ]
  ],
  "env": {
    "development": {
      "plugins":[
        "transform-es2015-classes",
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "presets": ["babili"]
    }
  },
  "plugins":[
    "transform-class-properties",
    ["transform-object-rest-spread", {
        "useBuiltIns":true
      }
    ]
  ]
}
